body {
    align-items: center;
    background-color: rgba(35, 35, 35, 0.1);
    border: 1px solid rgba(235, 235, 235, 0.1);
    border-radius: 15px;
    color: white;
    font-size:x-large;
    position: relative;
    background-image: url(bg.png);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(189, 189, 189);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 20px;
}

.form-group input,
.form-group select {
    font-size: large;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.result {
    margin-top: 20px;
    padding: 8px;
    background-color: #000000;
    border-radius: 10px;
    border: 1px solid #ddd;
}
